body {
  font-family: "Roboto", sans-serif;
}

/* image */

img:hover {
  transform: scale(1.03);
}

/* card */

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 2px 2px orange;
}

/* button */

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  border-color: orange;
}

/* scroll to top */

.scroll-to-top {
  position: fixed;
  bottom: 120px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.scroll-to-top.visible {
  opacity: 1;
}

.scroll-to-top-btn {
  background-color: #38b6ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/* footer icon */

.icon {
  font-size: 24px;
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .text-icon .text {
    display: none;
  }

  .text-icon .icon {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 1025px) {
  .text-icon .icon {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    display: none;
  }
}

#footerIcon.dropdown-menu {
  margin-left: -60px;
}

#footerIcon.dropdown-menu > li {
  display: inline-block;
}

/* dropdown */

.dropdown-item:hover {
  background-color: #38b6ff;
}
